# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Models
*.keras
*.h5
*.tflite

# Data
train/
train.zip
*.npy

# Images
image/
*.png
*.jpg
*.jpeg

# OS
.DS_Store
Thumbs.db
